* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

/* Works on Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #5eb1ff #121212;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #5eb1ff;
}

*::-webkit-scrollbar-thumb {
    background-color: #121212;
    border-radius: 20px;
    border: 3px solid #5eb1ff;
}

body {
    background: rgb(18, 18, 18);
    background: linear-gradient(0deg, rgb(18, 18, 18) 0%, rgb(7, 137, 255) 82%);

    display: grid;
    height: 100vh;
    grid-template-areas:
        'main'
        'footer';
    grid-template-rows: 1fr 50px;
}

header {
    text-align: center;
}

header h1 {
    margin-top: 50px;
    color: #fff;
}

main {
    grid-area: main;
    overflow-y: auto;
}

ul {
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 16px;

    padding: 60px 0;
    max-width: 350px;
    margin: 0 auto;
}

ul li a {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 16px 24px;
    text-decoration: none;

    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;

    /* transition: ease-in 0.3s; */
}

ul li a:hover {
    border: 1.5px solid #fff;
}

footer {
    grid-area: footer;
    margin: auto 0;
}

footer {
    padding: 16px 0;
    text-align: center;
    font-size: 16px;
    background: #2a2a2a;
    background: #121212;
}